body {
    margin: 0;
    padding: 0;
}

.section {
    display: inline-block;
    width: 100%;
    padding: 0px;
}

.section h1 {
    scroll-margin-top: 138px;
    padding-left: 10px;
    padding-right: 10px;
}

.section p {
    padding-left: 10px;
    padding-right: 10px;

}

#section1 {
    background-color: rgb(245, 240, 230);
}

#section2 {
    background-image: url('https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg');
    background-color: white;
    background-size: cover;
    color: white;
}

#section3 {
    background-color: rgb(245, 240, 230);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    justify-items: center;
    grid-auto-rows: minmax(100px, auto);
}

.box {
    color: white;
    background-color: #182b49;
    max-height: 200px;
    overflow-y: scroll;
    text-align: center;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-size: ;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    height: 40px;
}

.navbar li {
    float: left;
}

.navbar li a {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 28px;
    max-width: 400px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #182b49;
    color: white;
}

.navbar img {
    max-width: 400px;
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .navbar {
        height: 60px;
    }

    .navbar li a {
        display: none;
    }

    .navbar img {
        max-width: 75%;
    }

    .section h1 {
        font-size: 24px;
    }

    .section p {
        font-size: 20px;

    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}